<?xml version="1.0" encoding="UTF-8"?>
<ReportServerParameter xmlVersion="20100901" language="0">
<ServerLogLevel>
<![CDATA[WARNING]]></ServerLogLevel>
<Write serverCharacterEncoding="GBK"/>
<GZip run="true"/>
<ServletMapping pattern="ReportServer"/>
<SM concurrency="30" concurrencyOnce="10"/>
<ReportWebAttr>
<EmailManager mailHost="" password="___" user="" fromEmailAddress=""/>
<ServerPrinter/>
<WebPageContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.ui.impl.page.First">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[首页]]></Text>
<IconName>
<![CDATA[first]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Previous">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[上一页]]></Text>
<IconName>
<![CDATA[previous]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.PageNavi">
<WidgetAttr/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Next">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[下一页]]></Text>
<IconName>
<![CDATA[next]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Last">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[末页]]></Text>
<IconName>
<![CDATA[last]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.FlashPrint">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[打印[客户端]A]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Print">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[打印]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Export">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[输出]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true"/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Email">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[邮件]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
<WebPage isPage="false" isShowAsImage="false"/>
</WebPageContent>
<WebViewContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.ui.impl.page.First">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[首页]]></Text>
<IconName>
<![CDATA[first]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Previous">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[上一页]]></Text>
<IconName>
<![CDATA[previous]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.PageNavi">
<WidgetAttr/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Next">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[下一页]]></Text>
<IconName>
<![CDATA[next]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Last">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[末页]]></Text>
<IconName>
<![CDATA[last]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.FlashPrint">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[打印[客户端]A]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Print">
<WidgetAttr/>
<Text>
<![CDATA[打印]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Export">
<WidgetAttr/>
<Text>
<![CDATA[输出]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true"/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Email">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[邮件]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
</WebViewContent>
<WebWriteContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.ui.impl.write.Submit">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[提交]]></Text>
<IconName>
<![CDATA[submit]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.write.Verify">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[数据校验]]></Text>
<IconName>
<![CDATA[verify]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.FlashPrint">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[打印[客户端]A]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Print">
<WidgetAttr/>
<Text>
<![CDATA[打印]]></Text>
<IconName>
<![CDATA[print]]></IconName>
<PrintButtons/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Export">
<WidgetAttr/>
<Text>
<![CDATA[输出]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true"/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Email">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[邮件]]></Text>
<IconName>
<![CDATA[email]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.write.AppendColumnRow">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[增加记录]]></Text>
<IconName>
<![CDATA[appendcolumn]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.write.ShowCellValue">
<WidgetAttr/>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
<SelectedColor/>
</WebWriteContent>
<Background name="NullBackground"/>
<CacheValidateTime>
<![CDATA[0]]></CacheValidateTime>
</ReportWebAttr>
<Parameters/>
<Styles>
<SAttr name="Title">
<Style horizontal_alignment="0">
<FRFont name="SimSun" style="1" size="18" foreground="-16737895"/>
<Background name="NullBackground"/>
<Border/>
</Style>
</SAttr>
<SAttr name="Head">
<Style>
<FRFont name="SimSun" style="0" size="12"/>
<Background name="ImageBackground" specifiedImageWidth="-1.0" specifiedImageHeight="-1.0" layout="2">
<Image width="271" height="20">
<![CDATA[mDD3s_Ctrm_#OF0>K!!9WJ6!OQ7+.ZoaQ9>0E]Ad2laNppWiE)!WiGp)li!RsTDPW,0?[QWIV
_g1pu1d?NUQ%!281S82*R8))W+4iebJi;<TD!-WQ)u!;iUeW~
]]></Image>
</Background>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="Explanation">
<Style>
<FRFont name="SimSun" style="0" size="12"/>
<Background name="NullBackground"/>
<Border>
<Top style="3" color="-6697729"/>
<Bottom style="3" color="-6697729"/>
<Left style="3" color="-6697729"/>
<Right style="3" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="RTitle">
<Style horizontal_alignment="4">
<FRFont name="SimSun" style="1" size="22" foreground="-16751002"/>
<Background name="NullBackground"/>
<Border/>
</Style>
</SAttr>
<SAttr name="Head1">
<Style horizontal_alignment="0">
<FRFont name="SimSun" style="0" size="12"/>
<Background name="ColorBackground" color="-1577999"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="Head2">
<Style horizontal_alignment="0">
<FRFont name="SimSun" style="1" size="12"/>
<Background name="ColorBackground" color="-1577999"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
<SAttr name="cell">
<Style horizontal_alignment="0">
<FRFont name="SimSun" style="0" size="12"/>
<Background name="NullBackground"/>
<Border>
<Top style="1" color="-6697729"/>
<Bottom style="1" color="-6697729"/>
<Left style="1" color="-6697729"/>
<Right style="1" color="-6697729"/>
</Border>
</Style>
</SAttr>
</Styles>
<FlashPrint popupFlashPrintSetting="true"/>
<PdfPrint popupPdfPrintSetting="true"/>
</ReportServerParameter>
